<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- The Shiv HTML5 early browser fix -->
        <!-- The next three lines are suppose to be commented and the Shiv will still work -->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" />
        <![endif]-->

        <title>ACCESS DENIED</title>

        <!-- CSS Stylesheets--> 
        <link rel="stylesheet" href="/css/styles.css" />
        <!-- End of CSS Stylesheets -->

    </head>
    <body class="node">
        <h1>ACCESS DENIED</h1>
        <hr>
        <br>
        <a href="/logout">Home</a>
    </body>
</html>